   .VirtualBox/
        .astah/
        .vscode/
        AppData/
        Contacts/
        Downloads/
        Favorites/
        Links/
        Music/
        NTUSER.DAT
        NTUSER.DAT{858e6e6e-fd19-11ed-9cf2-d09466de0b8f}.TM.blf
        NTUSER.DAT{858e6e6e-fd19-11ed-9cf2-d09466de0b8f}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{858e6e6e-fd19-11ed-9cf2-d09466de0b8f}.TMContainer00000000000000000002.regtrans-ms
        OneDrive/
        PycharmProjects/
        Saved Games/
        Searches/
        Videos/
        VirtualBox VMs/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini   .VirtualBox/
        .astah/
        .vscode/
        AppData/
        Contacts/
        Downloads/
        Favorites/
        Links/
        Music/
        NTUSER.DAT
        NTUSER.DAT{858e6e6e-fd19-11ed-9cf2-d09466de0b8f}.TM.blf
        NTUSER.DAT{858e6e6e-fd19-11ed-9cf2-d09466de0b8f}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{858e6e6e-fd19-11ed-9cf2-d09466de0b8f}.TMContainer00000000000000000002.regtrans-ms
        OneDrive/
        PycharmProjects/
        Saved Games/
        Searches/
        Videos/
        VirtualBox VMs/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
